:root {
 
  --pri-color-purple: hsl(259, 100%, 65%);
  --pri-color-light-red: hsl(0, 100%, 67%);
  --neutro-color-white: hsl(0, 0%, 100%);
  --neutro-color-off-white: hsl(0, 0%, 94%);
  --neutro-color-light-grey: hsl(0, 0%, 86%);
  --neutro-color-smokey-grey: hsl(0, 1%, 44%);
  --neutro-color-off-black: hsl(0, 0%, 8%);
  --size-main:500px;
  --size-button: 40px;
}

html {
  @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,400;1,600&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
  font-family: 'Bitter', serif;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--neutro-color-light-grey);
  
}

main { 
  width: var(--size-main);
  height: var(--size-main);
  background-color: var(--neutro-color-white);
  border-radius: 5% 5% 35% 5%;
  
}

section#entrada {
  width: 100%;
  height: 33%;
  padding: 20px 10px;
}

div.formField {  
  display: inline-block;
  width: 25%;
  height: 50%;
  margin-left: 2%;
  margin-right: 2%;
  padding: auto;
  gap: 2%;
}

div.formField *{
  display: block;
  width: 90%;

  
}

button#calcular {
  height: var(--size-button);
  width: var(--size-button);
  border-radius: 50%;
  background-color: var(--pri-color-purple);
  background-image: url('/assets/images/icon-arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
  border: none;
}

button#calcular:hover{
  background-color: var(--neutro-color-off-black);
}

section#resultado div {
  display: block;  
  font-weight: 800;
  font-style: italic;
  font-size: xx-large;
}

section#resultado label{
  color: var(--pri-color-purple);
}

div.div-alert {  
  visibility: hidden;
  color: var(--pri-color-light-red);
}

